<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>상세 내용</h1>
    <h2>제목 : <%= data.title %></h2>
    <h3>내용 : <%= data.content %></h3>
    <h4>작성일: <%= data.date %></h4>
</body>
</html>