<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/save" method="post">
        <div>
            <label>제목</label>
            <input type="text" name="title">
        </div>
        <p></p>
        <div>
            <label>내용</label>
            <textarea name="content" rows="10"></textarea>
        </div>
        <p></p>
        <div>
            <label>작성일</label>
            <input type="date" class="form-control" name="someDate">
        </div>
        <button type="submit">저장</button>
    </form>
</body>
</html>