<style>
    .nav {
        font-size: 25px;
        background-color: white;
        padding: 15px;
        /* border-bottom: 1px solid black; */

        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

    }

    #title {
        font-weight: bold;
    }



</style>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" id="title" aria-current="page" href="/">SimpleBoard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/enter">글쓰기</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/list">목록</a>
  </li>
</ul>